<div class="alert alert-block alert-danger">
<b>Do not run these codes:</b> Else all the ouput will disappear since the csv file is not available.
</div>

In [1]:
# Start by importing required modules
import pandas as pd

%matplotlib inline

In [2]:
# Import the required data
# A change in encoding type was needed due to an error in data loading for food file.
crop_df = pd.read_csv("Production_Crops_E_All_Data_NOFLAG.csv",  encoding='latin-1')

In [3]:
# Have a quick look at the food dataframe
print(crop_df.columns.is_unique)
print(crop_df.shape)
print(crop_df[crop_df.duplicated() == True])
crop_df.head()

True
(51510, 66)
Empty DataFrame
Columns: [Area Code, Area, Item Code, Item, Element Code, Element, Unit, Y1961, Y1962, Y1963, Y1964, Y1965, Y1966, Y1967, Y1968, Y1969, Y1970, Y1971, Y1972, Y1973, Y1974, Y1975, Y1976, Y1977, Y1978, Y1979, Y1980, Y1981, Y1982, Y1983, Y1984, Y1985, Y1986, Y1987, Y1988, Y1989, Y1990, Y1991, Y1992, Y1993, Y1994, Y1995, Y1996, Y1997, Y1998, Y1999, Y2000, Y2001, Y2002, Y2003, Y2004, Y2005, Y2006, Y2007, Y2008, Y2009, Y2010, Y2011, Y2012, Y2013, Y2014, Y2015, Y2016, Y2017, Y2018, Y2019]
Index: []

[0 rows x 66 columns]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,ha,NaN,NaN,NaN,...,11210.0,13469.0,13490.0,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0,29203.0
1,2,Afghanistan,221,"Almonds, with shell",5419,Yield,hg/ha,NaN,NaN,NaN,...,49955.0,45000.0,45960.0,29910.0,19996.0,16521.0,16859.0,13788.0,17161.0,13083.0
2,2,Afghanistan,221,"Almonds, with shell",5510,Production,tonnes,NaN,NaN,NaN,...,56000.0,60611.0,62000.0,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0,38205.0
3,2,Afghanistan,711,"Anise, badian, fennel, coriander",5312,Area harvested,ha,NaN,NaN,NaN,...,17000.0,19500.0,18500.0,18500.0,30000.0,25000.0,25787.0,28398.0,26725.0,27562.0
4,2,Afghanistan,711,"Anise, badian, fennel, coriander",5419,Yield,hg/ha,NaN,NaN,NaN,...,6000.0,6414.0,6757.0,6757.0,7167.0,7200.0,6982.0,6863.0,6898.0,6903.0

In [4]:
# Remove columns that are not required
crop_df = crop_df.drop(
    ['Area Code', 'Item Code', 'Unit', 'Element Code',
    ],
    axis=1 
)

In [5]:
crop_df.head()

,Area,Item,Element,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,Afghanistan,"Almonds, with shell",Area harvested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11210.0,13469.0,13490.0,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0,29203.0
1,Afghanistan,"Almonds, with shell",Yield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49955.0,45000.0,45960.0,29910.0,19996.0,16521.0,16859.0,13788.0,17161.0,13083.0
2,Afghanistan,"Almonds, with shell",Production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56000.0,60611.0,62000.0,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0,38205.0
3,Afghanistan,"Anise, badian, fennel, coriander",Area harvested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17000.0,19500.0,18500.0,18500.0,30000.0,25000.0,25787.0,28398.0,26725.0,27562.0
4,Afghanistan,"Anise, badian, fennel, coriander",Yield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6000.0,6414.0,6757.0,6757.0,7167.0,7200.0,6982.0,6863.0,6898.0,6903.0

In [6]:
# Rename the some of the column name
# Rename the remaining columns
crop_df.rename(columns=lambda x: x[-4:] if x[0] == 'Y' else x, inplace=True)
crop_df = crop_df.rename(
    columns = {
        'Item': 'Crop', 'Element': "Type", 'Area': 'Country'
        } 
)
crop_df= crop_df.set_index('Country')
crop_df.head()
#crop_df.info()

,Crop,Type,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,"Almonds, with shell",Area harvested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11210.0,13469.0,13490.0,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0,29203.0
Afghanistan,"Almonds, with shell",Yield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49955.0,45000.0,45960.0,29910.0,19996.0,16521.0,16859.0,13788.0,17161.0,13083.0
Afghanistan,"Almonds, with shell",Production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56000.0,60611.0,62000.0,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0,38205.0
Afghanistan,"Anise, badian, fennel, coriander",Area harvested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17000.0,19500.0,18500.0,18500.0,30000.0,25000.0,25787.0,28398.0,26725.0,27562.0
Afghanistan,"Anise, badian, fennel, coriander",Yield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6000.0,6414.0,6757.0,6757.0,7167.0,7200.0,6982.0,6863.0,6898.0,6903.0

In [7]:
# Fill the missing values with 0
crop_df.fillna(value=0, inplace=True)
crop_df.head()
print(crop_df['Crop'].value_counts())

Roots and Tubers, Total    726
Vegetables Primary         725
Fruit Primary              725
Vegetables, fresh nes      714
Oilcrops                   708
                          ...
Cassava leaves              30
Tallowtree seed             15
Kapok fruit                 15
Jojoba seed                 12
Gums, natural               10
Name: Crop, Length: 175, dtype: int64

In [8]:
## Delete region rows.  We want only countries.
crop_df.drop(
    index=['Africa','Americas', 'Asia', 'Australia and New Zealand','Belgium-Luxembourg', 
           'Caribbean', 'Central America', 'Central Asia', 'China, Hong Kong SAR', 
           'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of', 
           'Eastern Africa', 'Eastern Asia', 'Eastern Europe', 'Ethiopia PDR',
           'Europe', 'European Union (27)', 'European Union (28)', 'Faroe Islands', 'French Polynesia', 'Land Locked Developing Countries',
           'Least Developed Countries', 'Low Income Food Deficit Countries', 'Melanesia', 'Micronesia',
           'Middle Africa', 'Net Food Importing Developing Countries', 'New Caledonia', 'Niue', 'Northern Africa', 'Northern America', 
           'Northern Europe', 'Oceania', 'Polynesia', 'Serbia and Montenegro', 'Small Island Developing States', 
           'South America', 'South-eastern Asia', 'Southern Africa', 'Southern Asia', 'Southern Europe', 'Sudan (former)', 
           'USSR', 'Western Africa', 'Western Asia', 'Western Europe', 'World',
            ], axis=0, inplace=True) 
crop_df

,Crop,Type,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,"Almonds, with shell",Area harvested,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11210.0,13469.0,13490.0,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0,29203.0
Afghanistan,"Almonds, with shell",Yield,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,49955.0,45000.0,45960.0,29910.0,19996.0,16521.0,16859.0,13788.0,17161.0,13083.0
Afghanistan,"Almonds, with shell",Production,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,56000.0,60611.0,62000.0,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0,38205.0
Afghanistan,"Anise, badian, fennel, coriander",Area harvested,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,17000.0,19500.0,18500.0,18500.0,30000.0,25000.0,25787.0,28398.0,26725.0,27562.0
Afghanistan,"Anise, badian, fennel, coriander",Yield,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6000.0,6414.0,6757.0,6757.0,7167.0,7200.0,6982.0,6863.0,6898.0,6903.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,"Treenuts, Total",Yield,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12728.0,12688.0,15200.0,17700.0,17381.0,16680.0,17493.0,18038.0,18579.0,19122.0
Zimbabwe,"Treenuts, Total",Production,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4073.0,5075.0,6080.0,7080.0,6994.0,6849.0,6588.0,6490.0,6592.0,6643.0
Zimbabwe,Vegetables Primary,Area harvested,12296.0,12644.0,12794.0,13133.0,13463.0,14025.0,14485.0,14945.0,...,32481.0,32539.0,31762.0,31836.0,32840.0,34067.0,34443.0,34937.0,35467.0,35994.0
Zimbabwe,Vegetables Primary,Yield,65324.0,65900.0,65963.0,65668.0,66442.0,66310.0,66275.0,66243.0,...,65171.0,60804.0,69403.0,69249.0,67480.0,66483.0,66788.0,66951.0,67043.0,67141.0
Zimbabwe,Vegetables Primary,Production,80322.0,83324.0,84393.0,86242.0,89451.0,93000.0,96000.0,99000.0,...,211682.0,197851.0,220439.0,220462.0,221605.0,226489.0,230038.0,233908.0,237783.0,241666.0

# Drop the following Items:
Oilcrops-> include too many items. <br>
Sugar Crops Primary -> include sugar cane and sweeteners and derived products.<br>
Fruit Primary -> include almost all fruits.<br>
Rice, paddy (rice milled equivalent).

In [9]:
## Delete certain crop type.
crop_df = crop_df[crop_df.Crop != 'Oilcrops']
crop_df = crop_df[crop_df.Crop != 'Sugar Crops Primary']
crop_df = crop_df[crop_df.Crop != 'Fruit Primary']
crop_df = crop_df[crop_df.Crop != 'Rice, paddy (rice milled equivalent)']
crop_df

,Crop,Type,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,"Almonds, with shell",Area harvested,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11210.0,13469.0,13490.0,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0,29203.0
Afghanistan,"Almonds, with shell",Yield,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,49955.0,45000.0,45960.0,29910.0,19996.0,16521.0,16859.0,13788.0,17161.0,13083.0
Afghanistan,"Almonds, with shell",Production,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,56000.0,60611.0,62000.0,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0,38205.0
Afghanistan,"Anise, badian, fennel, coriander",Area harvested,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,17000.0,19500.0,18500.0,18500.0,30000.0,25000.0,25787.0,28398.0,26725.0,27562.0
Afghanistan,"Anise, badian, fennel, coriander",Yield,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6000.0,6414.0,6757.0,6757.0,7167.0,7200.0,6982.0,6863.0,6898.0,6903.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,"Treenuts, Total",Yield,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12728.0,12688.0,15200.0,17700.0,17381.0,16680.0,17493.0,18038.0,18579.0,19122.0
Zimbabwe,"Treenuts, Total",Production,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4073.0,5075.0,6080.0,7080.0,6994.0,6849.0,6588.0,6490.0,6592.0,6643.0
Zimbabwe,Vegetables Primary,Area harvested,12296.0,12644.0,12794.0,13133.0,13463.0,14025.0,14485.0,14945.0,...,32481.0,32539.0,31762.0,31836.0,32840.0,34067.0,34443.0,34937.0,35467.0,35994.0
Zimbabwe,Vegetables Primary,Yield,65324.0,65900.0,65963.0,65668.0,66442.0,66310.0,66275.0,66243.0,...,65171.0,60804.0,69403.0,69249.0,67480.0,66483.0,66788.0,66951.0,67043.0,67141.0
Zimbabwe,Vegetables Primary,Production,80322.0,83324.0,84393.0,86242.0,89451.0,93000.0,96000.0,99000.0,...,211682.0,197851.0,220439.0,220462.0,221605.0,226489.0,230038.0,233908.0,237783.0,241666.0

In [10]:
#Drop any yield less than 15000 hg/ha (so that Wheat is included)
crop_yield_df = crop_df[(crop_df.Type == 'Yield') & (crop_df['2019'] >= 15000)].reset_index()
crop_yield_df

,Country,Crop,Type,1961,1962,1963,1964,1965,1966,1967,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,Apples,Yield,68018.0,68018.0,68018.0,78298.0,82258.0,83212.0,90196.0,...,70000.0,70000.0,76519.0,76005.0,73000.0,68824.0,72762.0,65184.0,76527.0,90832.0
1,Afghanistan,Apricots,Yield,66390.0,66390.0,66390.0,76863.0,80819.0,81619.0,88671.0,...,80000.0,81725.0,100000.0,99944.0,99944.0,96189.0,20819.0,72960.0,58934.0,73008.0
2,Afghanistan,Berries nes,Yield,88235.0,88235.0,88235.0,88235.0,88235.0,88235.0,88235.0,...,78329.0,72734.0,65789.0,65789.0,65297.0,65684.0,63613.0,61918.0,60225.0,58532.0
3,Afghanistan,Figs,Yield,25000.0,25000.0,25000.0,28698.0,30252.0,30457.0,33182.0,...,45000.0,40000.0,40126.0,40370.0,40000.0,32761.0,38755.0,48595.0,57275.0,68912.0
4,Afghanistan,"Fruit, citrus nes",Yield,67123.0,67123.0,67123.0,76923.0,81707.0,83333.0,90099.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,103400.0,108947.0,109653.0,111871.0,114081.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7448,Zimbabwe,Wheat,Yield,14673.0,15895.0,19530.0,26896.0,23533.0,20091.0,26907.0,...,27786.0,26605.0,24902.0,23429.0,22150.0,20486.0,19013.0,17542.0,16379.0,15891.0
7449,Zimbabwe,"Citrus Fruit, Total",Yield,29286.0,32414.0,32583.0,33506.0,33924.0,34375.0,34756.0,...,69056.0,69597.0,70880.0,71028.0,71751.0,72732.0,73092.0,73689.0,74278.0,74869.0
7450,Zimbabwe,"Roots and Tubers, Total",Yield,38039.0,39043.0,39602.0,40847.0,40844.0,39309.0,40481.0,...,43706.0,43825.0,44671.0,43800.0,43889.0,44241.0,44309.0,43985.0,43917.0,43791.0
7451,Zimbabwe,"Treenuts, Total",Yield,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12728.0,12688.0,15200.0,17700.0,17381.0,16680.0,17493.0,18038.0,18579.0,19122.0
7452,Zimbabwe,Vegetables Primary,Yield,65324.0,65900.0,65963.0,65668.0,66442.0,66310.0,66275.0,...,65171.0,60804.0,69403.0,69249.0,67480.0,66483.0,66788.0,66951.0,67043.0,67141.0

In [11]:
#Drop any production less than 15000 tonnes (so that Wheat is included)
crop_production_df = crop_df[(crop_df.Type == 'Production') & (crop_df['2019'] >= 15000)].reset_index()
crop_production_df

,Country,Crop,Type,1961,1962,1963,1964,1965,1966,1967,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,"Almonds, with shell",Production,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,56000.0,60611.0,62000.0,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0,38205.0
1,Afghanistan,"Anise, badian, fennel, coriander",Production,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10200.0,12508.0,12500.0,12500.0,21500.0,18000.0,18005.0,19490.0,18436.0,19025.0
2,Afghanistan,Apples,Production,15100.0,15100.0,15100.0,18400.0,20400.0,22800.0,27600.0,...,59850.0,62041.0,70000.0,78597.0,89403.0,89733.0,140903.0,175000.0,217192.0,250324.0
3,Afghanistan,Apricots,Production,32000.0,32000.0,32000.0,39200.0,43400.0,48400.0,58700.0,...,66560.0,67995.0,83500.0,90000.0,90000.0,87686.0,17894.0,131816.0,109086.0,129363.0
4,Afghanistan,Barley,Production,378000.0,378000.0,378000.0,380000.0,380000.0,375000.0,357000.0,...,437000.0,305900.0,504000.0,514000.0,521000.0,403000.0,301856.0,94995.0,56781.0,123576.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5723,Zimbabwe,"Oilcrops, Cake Equivalent",Production,31279.0,57788.0,49414.0,41944.0,29620.0,51883.0,64471.0,...,159412.0,136776.0,179518.0,135078.0,112750.0,77212.0,75263.0,99562.0,138198.0,109155.0
5724,Zimbabwe,"Oilcrops, Oil Equivalent",Production,24329.0,45318.0,38414.0,32074.0,20820.0,36916.0,43946.0,...,75519.0,60582.0,67577.0,53420.0,43992.0,33913.0,31159.0,49291.0,60138.0,50117.0
5725,Zimbabwe,"Pulses, Total",Production,19334.0,21340.0,19725.0,17308.0,15418.0,23500.0,24000.0,...,35744.0,20736.0,47287.0,54903.0,39795.0,39377.0,33793.0,39096.0,45487.0,41057.0
5726,Zimbabwe,"Roots and Tubers, Total",Production,61581.0,64171.0,65347.0,65405.0,65383.0,64486.0,65700.0,...,259041.0,266402.0,277976.0,276243.0,284868.0,284140.0,286022.0,294616.0,298921.0,303315.0
5727,Zimbabwe,Vegetables Primary,Production,80322.0,83324.0,84393.0,86242.0,89451.0,93000.0,96000.0,...,211682.0,197851.0,220439.0,220462.0,221605.0,226489.0,230038.0,233908.0,237783.0,241666.0

In [12]:
#Drop any area harvest less than 100 ha (so that Wheat is included)
crop_area_df = crop_df[(crop_df.Type == 'Area harvested') & (crop_df['2019'] >= 100)].reset_index()
crop_area_df

,Country,Crop,Type,1961,1962,1963,1964,1965,1966,1967,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,"Almonds, with shell",Area harvested,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11210.0,13469.0,13490.0,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0,29203.0
1,Afghanistan,"Anise, badian, fennel, coriander",Area harvested,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,17000.0,19500.0,18500.0,18500.0,30000.0,25000.0,25787.0,28398.0,26725.0,27562.0
2,Afghanistan,Apples,Area harvested,2220.0,2220.0,2220.0,2350.0,2480.0,2740.0,3060.0,...,8550.0,8863.0,9148.0,10341.0,12247.0,13038.0,19365.0,26847.0,28381.0,27559.0
3,Afghanistan,Apricots,Area harvested,4820.0,4820.0,4820.0,5100.0,5370.0,5930.0,6620.0,...,8320.0,8320.0,8350.0,9005.0,9005.0,9116.0,8595.0,18067.0,18510.0,17719.0
4,Afghanistan,Barley,Area harvested,350000.0,350000.0,350000.0,350000.0,350000.0,350000.0,316000.0,...,212000.0,190000.0,280000.0,278000.0,342472.0,282000.0,219208.0,68179.0,84147.0,84070.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9005,Zimbabwe,"Oilcrops, Oil Equivalent",Area harvested,121624.0,175987.0,161747.0,177513.0,190136.0,193122.0,208613.0,...,616047.0,672713.0,667212.0,452392.0,368005.0,348779.0,358696.0,329697.0,404437.0,408200.0
9006,Zimbabwe,"Pulses, Total",Area harvested,32731.0,32595.0,31954.0,31174.0,36436.0,42000.0,42000.0,...,85058.0,59531.0,121952.0,146226.0,115044.0,126583.0,119129.0,118397.0,115356.0,119711.0
9007,Zimbabwe,"Roots and Tubers, Total",Area harvested,16189.0,16436.0,16501.0,16012.0,16008.0,16405.0,16230.0,...,59269.0,60788.0,62228.0,63069.0,64906.0,64226.0,64551.0,66981.0,68065.0,69265.0
9008,Zimbabwe,"Treenuts, Total",Area harvested,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3200.0,4000.0,4000.0,4000.0,4024.0,4106.0,3766.0,3598.0,3548.0,3474.0
9009,Zimbabwe,Vegetables Primary,Area harvested,12296.0,12644.0,12794.0,13133.0,13463.0,14025.0,14485.0,...,32481.0,32539.0,31762.0,31836.0,32840.0,34067.0,34443.0,34937.0,35467.0,35994.0

In [13]:
#Merging all the dataframe together
crop_df = pd.concat([crop_yield_df, crop_production_df, crop_area_df], axis=0).reset_index()
del crop_df['index']
crop_df

,Country,Crop,Type,1961,1962,1963,1964,1965,1966,1967,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,Apples,Yield,68018.0,68018.0,68018.0,78298.0,82258.0,83212.0,90196.0,...,70000.0,70000.0,76519.0,76005.0,73000.0,68824.0,72762.0,65184.0,76527.0,90832.0
1,Afghanistan,Apricots,Yield,66390.0,66390.0,66390.0,76863.0,80819.0,81619.0,88671.0,...,80000.0,81725.0,100000.0,99944.0,99944.0,96189.0,20819.0,72960.0,58934.0,73008.0
2,Afghanistan,Berries nes,Yield,88235.0,88235.0,88235.0,88235.0,88235.0,88235.0,88235.0,...,78329.0,72734.0,65789.0,65789.0,65297.0,65684.0,63613.0,61918.0,60225.0,58532.0
3,Afghanistan,Figs,Yield,25000.0,25000.0,25000.0,28698.0,30252.0,30457.0,33182.0,...,45000.0,40000.0,40126.0,40370.0,40000.0,32761.0,38755.0,48595.0,57275.0,68912.0
4,Afghanistan,"Fruit, citrus nes",Yield,67123.0,67123.0,67123.0,76923.0,81707.0,83333.0,90099.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,103400.0,108947.0,109653.0,111871.0,114081.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22186,Zimbabwe,"Oilcrops, Oil Equivalent",Area harvested,121624.0,175987.0,161747.0,177513.0,190136.0,193122.0,208613.0,...,616047.0,672713.0,667212.0,452392.0,368005.0,348779.0,358696.0,329697.0,404437.0,408200.0
22187,Zimbabwe,"Pulses, Total",Area harvested,32731.0,32595.0,31954.0,31174.0,36436.0,42000.0,42000.0,...,85058.0,59531.0,121952.0,146226.0,115044.0,126583.0,119129.0,118397.0,115356.0,119711.0
22188,Zimbabwe,"Roots and Tubers, Total",Area harvested,16189.0,16436.0,16501.0,16012.0,16008.0,16405.0,16230.0,...,59269.0,60788.0,62228.0,63069.0,64906.0,64226.0,64551.0,66981.0,68065.0,69265.0
22189,Zimbabwe,"Treenuts, Total",Area harvested,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3200.0,4000.0,4000.0,4000.0,4024.0,4106.0,3766.0,3598.0,3548.0,3474.0
22190,Zimbabwe,Vegetables Primary,Area harvested,12296.0,12644.0,12794.0,13133.0,13463.0,14025.0,14485.0,...,32481.0,32539.0,31762.0,31836.0,32840.0,34067.0,34443.0,34937.0,35467.0,35994.0

In [14]:
print(crop_df['Crop'].value_counts())

Vegetables Primary         535
Roots and Tubers, Total    530
Cereals, Total             464
Vegetables, fresh nes      461
Potatoes                   420
                          ...
Ramie                        5
Pyrethrum, dried             5
Brazil nuts, with shell      3
Tallowtree seed              3
Jojoba seed                  1
Name: Crop, Length: 170, dtype: int64

In [15]:
print(crop_df['Country'].value_counts())

China                         369
Mexico                        292
United States of America      267
Turkey                        261
Iran (Islamic Republic of)    244
                             ...
Nauru                           8
Malta                           7
Tokelau                         7
Tuvalu                          6
Marshall Islands                5
Name: Country, Length: 192, dtype: int64

In [16]:
# Output to csv file.
crop_df.to_csv('Crop.csv')